__pycache__
shopping_list.txt
todo.md
*.csv
*.yaml
# 'Selection' is a symlink
Selection
hooks/
2024/
Rezepte.md
out/
tex/title.tex
tex/ingredients.tex
tex/preparation.tex
tex/recipe-template.pdf
out/
# Ignore files, directories and links
*pdf*
